<div class="container">
  <div class="my-4">
    <h1 class="text-center">Editing Restaurant</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <%= render "form", restaurant: @restaurant %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Show this restaurant", @restaurant, class: "btn btn-info mr-2" %> 
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-secondary" %>
  </div>
</div>

